name: Expressions Testing

on:
  push:
    branches: [expressions]

jobs:
  expressions-testing:
    name: test all expression
    runs-on: ubuntu-latest
    steps:
      - name: if contains
        if: ${{ contains('hello world', 'world') }}
        run: echo "hello world contains world"
      - name: else contains
        if: ${{ !contains('hello world', 'world') }}
        run: echo "hello world not contains world"

      - name: if startsWith
        if: ${{ startsWith('hello', 'he') }}
        run: echo "hello start with he"
      - name: else startsWith
        if: ${{ !startsWith('hello', 'he') }}
        run: echo "hello not start with he"

      - name: if endsWith
        if: ${{ endsWith('hello', 'lo') }}
        run: echo "hello end with lo"
      - name: else endsWith
        if: ${{ !endsWith('hello', 'lo') }}
        run: echo "hello not end with lo"

      - name: format 'hello {0} {1} {2}!' to 'hello muhammad pandu royyan'
        run: echo ${{ format('hello {0} {1} {2}!', 'muhammad', 'pandu', 'royyan') }}

      - name: join an array into a string
        run: echo ${{ join('["banana", "apple"]', ', ') }}